{% extends "aplication/index.html" %}


{% block titulo %}
<h1 class="mb-5">Equipos</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Equipos</h2></td>
        <td>
            <a
            href="{% url 'equipos_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Abreviatura</th>
            <th>Ciudad</th>            
        </tr>
    </thead>
    <tbody>
    {% for e in equipo_list  %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.abreviatura }}</td>
            <td>{{ e.ciudad }}</td>
            <td>
                <a
                  href="{% url 'equipos_update' e.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Editar Equipo"></i>
                </a>
                <a
                  href="{% url 'equipos_delete' e.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Eliminar Equipo"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}